ul {
    list-style-type: none;
}
ul .card{
    background-color: rgb(131, 0, 253);
    display: inline-block;
    margin: 50px;
    padding: 20px 50px;
    color: aliceblue;
}

ul li p span {
    font-size: 2em;
    font-weight: 800;
}

ul li p {
    font-size: 1.5em;
}

